services:
  backend:
    build: ./backend
    environment:
      - SERVER_NAME=backend
      - PORT=3000
    networks:
      - app-network
  
  nginx:
    build: ./nginx
    environment:
      - SERVER_NAME=nginx
      - PORT=8080
    ports:
      - "8080:8080"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge